{% extends 'chat/main.html' %}

{% block content %}

<div class="container">
    <div class="container">
        <br>
        <a href="/" class="btn btn-outline-dark"><< INBOX</a>
        <hr><br>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" placeholder="Your Message Here..." name="body" class="form-control" id="text" aria-describedby="text">
            </div>
            <button type="submit" class="btn btn-success">Send</button>
        </form>
        <button id="record-btn" class="btn btn-primary">Record and Send</button>
    </div>
    <br>
    <div class="container">
        {% for body_message in body_messages %}
        <br>
        <div class="card">
            <div class="card-body">
                <p><i>@{{body_message.user.username}}</i></p>
                <h4>{{body_message}}</h4>
                <h10>{{body_message.created}}</h10>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#record-btn').click(function() {
            $.ajax({
                url: '{% url "record_and_send" %}',
                type: 'GET',
                success: function(response) {
                    alert(response.message);
                },
                error: function(xhr, status, error) {
                    alert('Error recording and sending audio: ' + error);
                }
            });
        });
    });
</script>

{% endblock content %}

